@model EventsSystem.Web.ViewModels.AddFriend.AddFriendInputModel
@using EventsSystem.Web.ViewModels.AddFriend
<section class="page-section portfolio ">
    <div class="container">
        <div class="col-md-6">
            <form asp-controller="AddFriend" asp-action="AddPeopleByEmail" method="post" class="form mt-5">
                <div class="input-group mb-3">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control ml-3" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="input-group-append">
                    <input type="submit" name="name" value="Add friend" class="btn btn-outline-secondary" />
                </div>
            </form>
        </div>
    </div>


</section>

<section class="page-section" id="contact">
</section>